.pay-with-card {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.4);
}

.card-modal {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20vh;
  background-color: white;
  border: 1px solid #dbe1e9;
  border-radius: 5px;
  padding: 1rem;
}

.visa-card-container {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.visa-card {
  width: 200px;
}

.card-modal-heading {
  margin-top: 0;
  margin-bottom: 10px;
}

.card-modal-invalid-input {
  background-color: #ea4949;
  color: white;
  padding: 5px;
}

.card-modal-row {
  display: flex;
  gap: 10px;
}

.card-modal-col {
  flex: 1;
  margin-top: 5px;
}

.card-modal-label {
  margin-bottom: 0.5rem;
  font-size: 14px;
}

.card-modal-input {
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #dbe1e9;
  border-radius: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 14px;
  outline: none;
  max-height: 45.9px;
}

.card-modal-input-error {
  border-color: #f16363;
}

.card-modal-error-text {
  font-size: 12px;
  color: #f16363;
  margin-top: 1px;
  margin-bottom: 3px;
  margin-left: 1px;
}

.card-modal-btn-container {
  width: fit-content;
  margin-left: auto;
  margin-top: 10px;
}

.card-modal-cancel-btn {
  background-color: rgb(205, 200, 193);
  color: white;
  padding: 5px;
  border: none;
  border-radius: 2px;
  margin-right: 10px;
  cursor: pointer;
}

.card-modal-btn {
  background-color: rgb(241, 45, 35);
  color: white;
  padding: 5px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .card-modal {
    width: 80%;
    margin-top: 10vh;
  }

  .card-modal-row {
    display: block;
  }
}