.carousel {
  margin-top: 3rem;
}

.carousel-slide {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper .swiper-button-prev, .swiper .swiper-button-next {
  color: black;
}

.carousel-view-more-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.carousel-view-more-btn {
  background: none;
  border: 1px solid var(--dark-grey);
  color: var(--dark-grey);
  transition: all .1s ease-in-out;
}

.carousel-view-more-btn:hover {
  background-color: var(--dark-grey);
  color: white;
}