.pagination {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}

.page-link {
  padding: 0.2rem 0.7rem;
  font-size: 0.8rem;
  line-height: 1.25rem;
  background: none;
  border: 1px solid var(--light-grey);
  border-radius: 0.2rem;
  cursor: pointer;
}

.page-link-active {
  border-color: var(--light-blue);
}

.pages-gap {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}